/* RESET SETTNGS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /RESET SETTNGS */
/* FONTS */

body{
font-family: 'Rubik Mono One', sans-serif;
}

/* /FONTS */
/* NAV */

nav{
  position: fixed;
  z-index: 1;
  top: 50px;
  right: 60px;

}

ul li {
  display: inline-block;
}

ul li a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  border: 1px solid white;
  background-color: white;
  border-radius: 100%;
  padding: 10px;
  margin: 50px 10px 0 90%;
}

/* /NAV */
/* MAIN CSS  */

#top-section{
  background-color: #ec4646;
  height: 100vh;
  position: relative;
}

.content img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
}

section > div > h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: 220px;
}



#middle-section{
    background-color: #0c9463;
      height: 100vh;
      position: relative;
}

.subtitle-1{
  text-transform: capitalize;
  color: #ffe227;
}

#bottom-section{
  background-color: #ffe227;
    height: 100vh;
    position: relative;
}

.subtitle-2{
  text-transform: capitalize;
  color: #0c9463;
}
